.blog-list{
    display:inline-block;
    width:calc(100% + 30px);
    margin:0 -15px;
    overflow:hidden;
}
    .blog-list >.blog{
        display:inline-block;
        width:calc((100% - 90px) / 3);
        float:left;
        margin: 0 15px;
        position:relative;
        
    }
    .blog-list > .blog >img{
        display:inline-block;
        width:100%;
        height: 350px;
        background-color: var(--color-primary-light);
        border-radius: 5px;
        overflow:hidden;
        object-fit: cover;
        object-position: bottom center;
    }
    .blog-list > .blog > .date{
        display:inline-block;
        position: absolute;
        top:10px;
        left:10px;
        padding:5px 10px;
        background-color: var(--color-primary-light);
        color:var(--color-primary-dark-anti);
        text-decoration: none;
        text-transform: uppercase;

    }
    .blog-list > .blog > .title{
        display:inline-block;
        width:100%;
        font-size:24px;
        line-height: 30px;
        padding:15px 0;
        text-decoration:none;
    }
    .blog-list > .blog > p{
        display:inline-block;
        width:100%;
        margin-bottom:15px;
        font-size:16px;
        line-height: 20px;
    }
    .blog-list > .blog > .more{
        display:inline-block;
        font-size:20px;
        line-height: 36px;
        text-decoration: none;
        border-bottom:1px solid blue;
    }