/* ************************************************************************** */
/* BASIC */

/* ************************************************************************** */
/* ************************************************************************** */
/* LAYOUT */
.bg-primary {
    background-color: var(--color-primary-light);
   color: var(--color-primary-light-anti);
}
.bg-grey{
    background-color: var(--color-grey);
    color: var(--color-grey-anti);
}
h2{
    display: inline-block;
    width:100%;
    text-align:center;
    font-size:40px;
    line-height:40px;
}
h2::before{
    content:'';
    display:inline-block;
    width: 50px;
    height: 3px;
    background-color: var(--color-primary-light);
    margin:-60px calc(50% - 25px);

}
h2::after{
    content:'';
    display:inline-block;
    width: 80px;
    height: 2px;
    background-color: var(--color-primary-light);
    margin:12px calc(50% - 40px);
}
h2.up{
    text-transform: uppercase;
}
/* ************************************************************************** */
/* ************************************************************************** */
/* HEADER */

/* ************************************************************************** */

/* ************************************************************************** */
/* HERO */

/* ************************************************************************** */
/* ************************************************************************** */
/* ABOUT ME*/

/* ************************************************************************** */
/* ************************************************************************** */
/* PORTFOLIO*/

/* ************************************************************************** */
/* ************************************************************************** */
/* SERVICES*/
.service{
    display:inline-block;
    width:calc(100% / 3);
    float:left;
    text-align:center;
    padding: 20px;
}
    .service >i{
        display: inline-block;
        font-size:50px;
        line-height: 50px;
    }
    .service >h3{
        display:inline-block;
        width:100%;
        margin:10px 0;
        font-size:20px;
        line-height:20px;
    }
    .service >p{
        display:inline-block;
        width:100%;
        font-size:14px;
        line-height:20px;
    }

/* ************************************************************************** */
/* ************************************************************************** */
/* TEAM START*/

/* ************************************************************************** */
/* ************************************************************************** */
/* NUMBERS*/
.bg-achievements{
    background-image:url(../img/work/count-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.achievement{
    display:inline-block;
    text-align:center;

}
    .achievement >.center{
        display:inline-block;
    }
    .achievement i{
        display:inline-block;
        line-height: 60px;
        font-size:50px;
        text-align: right;
    }
    .achievement .texts{
        display:inline-block;
        margin-left:15px;
        text-align:left;
    }
        .achievement .texts >.number{
            display:inline-block;
            line-height: 50px;
            font-size:40px;
            width:100%;
        }
        .achievement .texts > .title{
            display:inline-block;
            line-height: 20px;
            font-size:18px;
            text-transform: uppercase;
        }

/* ************************************************************************** */
/* ************************************************************************** */
/*PRICING */

/* ************************************************************************** */
/* ************************************************************************** */
/* BLOG */

/* ************************************************************************** */
/* ************************************************************************** */
/* TESTIMONIALS */

/* ************************************************************************** */
/* ************************************************************************** */
/* CONTACT US */

/* ************************************************************************** */
/* ************************************************************************** */
/* MAPS */

/* ************************************************************************** */
/* ************************************************************************** */
/* FOOTER*/

/* ************************************************************************** */