.container,
.container-full{
    display:inline-block;
    width:100%;
    padding:100px 0;

}
    .container > .row{
        display:inline-block;
        width:1200px;
        margin:0 calc(50% - 600px);
        padding:0 20px;

    }
    .container-full > .row{
        display:inline-block;
        width:100%;
    }

    @media (max-width: 1300px){
        .container > .row{
            width:1000px;
            margin:0 calc(50% - 500px);
    
        }
    }
    
    @media (max-width: 1100px){
        .container > .row{
            width:800px;
            margin:0 calc(50% - 400px);
    
        }
    }
    
    @media (max-width: 900px){
        .container > .row{
            width:600px;
            margin:0 calc(50% - 300px);
    
        }
    }
    
    @media (max-width: 700px){
        .container > .row{
            width:100%;
            margin:0;
            
    
        }
    }