:root{
    --gap:15px;         
    --col-1: calc((100% - 12 * 2 * var(--gap)) / 12);
    --col-2: calc( 1 * 2 * var(--gap) + 2 * var(--col-1));
    --col-3: calc( 2 * 2 * var(--gap) + 3 * var(--col-1));
    --col-4: calc( 3 * 2 * var(--gap) + 4 * var(--col-1));
    --col-5: calc( 4 * 2 * var(--gap) + 5 * var(--col-1));
    --col-6: calc( 5 * 2 * var(--gap) + 6 * var(--col-1));
    --col-7: calc( 6 * 2 * var(--gap) + 7 * var(--col-1));
    --col-8: calc( 7 * 2 * var(--gap) + 8 * var(--col-1));
    --col-9: calc( 8 * 2 * var(--gap) + 9 * var(--col-1));
    --col-10: calc( 9 * 2 * var(--gap) + 10 * var(--col-1));
    --col-11: calc( 10 * 2 * var(--gap) + 11 * var(--col-1));
    --col-12: calc( 11 * 2 * var(--gap) + 12 * var(--col-1));

    --margin-0: var(--gap);
    --margin-1: calc(var(--col-1) + 3 * var(--gap));
    --margin-2: calc(var(--col-2) + 3 * var(--gap));
    --margin-3: calc(var(--col-3) + 3 * var(--gap));
    --margin-4: calc(var(--col-4) + 3 * var(--gap));
    --margin-5: calc(var(--col-5) + 3 * var(--gap));
    --margin-6: calc(var(--col-6) + 3 * var(--gap));
    --margin-7: calc(var(--col-7) + 3 * var(--gap));
    --margin-8: calc(var(--col-8) + 3 * var(--gap));
    --margin-9: calc(var(--col-9) + 3 * var(--gap));
    --margin-10: calc(var(--col-10) + 3 * var(--gap));
    --margin-11: calc(var(--col-11) + 3 * var(--gap));
    --margin-12: calc(var(--col-12) + 3 * var(--gap));
    
}

.container,
.container-full{
    display:inline-block;
    width:100%;
    padding:100px 0;

}
    .container > .row{
        display:inline-block;
        width:1200px;
        margin:0 calc(50% - 600px);
        padding:0 20px;

    }
    .container-full > .row{
        display:inline-block;
        width:100%;
    }
    .row > .col-1, .row > .col-2, .row > .col-3, .row > .col-4,
    .row > .col-5, .row > .col-6, .row > .col-7, .row > .col-8,
    .row > .col-9, .row > .col-10, .row > .col-11, .row > .col-12{
        display:inline-block;
        float:left;
        min-height:1px;
        margin-left:var(--gap);
        margin-right:var(--gap)
    }
    .row >.col-1{ width:var(--col-1);}
    .row >.col-2{ width:var(--col-2);}
    .row >.col-3{ width:var(--col-3);}
    .row >.col-4{ width:var(--col-4);}
    .row >.col-5{ width:var(--col-5);}
    .row >.col-6{ width:var(--col-6);}
    .row >.col-7{ width:var(--col-7);}
    .row >.col-8{ width:var(--col-8);}
    .row >.col-9{ width:var(--col-9);}
    .row >.col-10{ width:var(--col-10);}
    .row >.col-11{ width:var(--col-11);}
    .row >.col-12{ width:var(--col-12);}

    .row >.m-l-0{ margin-left:var(--margin-0);}
    .row >.m-l-1{ margin-left:var(--margin-1);}
    .row >.m-l-2{ margin-left:var(--margin-2);}
    .row >.m-l-3{ margin-left:var(--margin-3);}
    .row >.m-l-4{ margin-left:var(--margin-4);}
    .row >.m-l-5{ margin-left:var(--margin-5);}
    .row >.m-l-6{ margin-left:var(--margin-6);}
    .row >.m-l-7{ margin-left:var(--margin-7);}
    .row >.m-l-8{ margin-left:var(--margin-8);}
    .row >.m-l-9{ margin-left:var(--margin-9);}
    .row >.m-l-10{ margin-left:var(--margin-10);}
    .row >.m-l-11{ margin-left:var(--margin-11);}
    .row >.m-l-12{ margin-left:var(--margin-12);}

    .row >.m-r-0{ margin-right:var(--margin-0);}
    .row >.m-r-1{ margin-right:var(--margin-1);}
    .row >.m-r-2{ margin-right:var(--margin-2);}
    .row >.m-r-3{ margin-right:var(--margin-3);}
    .row >.m-r-4{ margin-right:var(--margin-4);}
    .row >.m-r-5{ margin-right:var(--margin-5);}
    .row >.m-r-6{ margin-right:var(--margin-6);}
    .row >.m-r-7{ margin-right:var(--margin-7);}
    .row >.m-r-8{ margin-right:var(--margin-8);}
    .row >.m-r-9{ margin-right:var(--margin-9);}
    .row >.m-r-10{ margin-right:var(--margin-10);}
    .row >.m-r-11{ margin-right:var(--margin-11);}
    .row >.m-r-12{ margin-right:var(--margin-12);}
  

    @media (max-width: 1300px){
        .container > .row{
            width:1000px;
            margin:0 calc(50% - 500px);
        }
    .row >.col-lg-1{ width:var(--col-1);}
    .row >.col-lg-2{ width:var(--col-2);}
    .row >.col-lg-3{ width:var(--col-3);}
    .row >.col-lg-4{ width:var(--col-4);}
    .row >.col-lg-5{ width:var(--col-5);}
    .row >.col-lg-6{ width:var(--col-6);}
    .row >.col-lg-7{ width:var(--col-7);}
    .row >.col-lg-8{ width:var(--col-8);}
    .row >.col-lg-9{ width:var(--col-9);}
    .row >.col-lg-10{ width:var(--col-10);}
    .row >.col-lg-11{ width:var(--col-11);}
    .row >.col-lg-12{ width:var(--col-12);}

    .row >.m-l-lg-0{ margin-left:var(--margin-0);}
    .row >.m-l-lg-1{ margin-left:var(--margin-1);}
    .row >.m-l-lg-2{ margin-left:var(--margin-2);}
    .row >.m-l-lg-3{ margin-left:var(--margin-3);}
    .row >.m-l-lg-4{ margin-left:var(--margin-4);}
    .row >.m-l-lg-5{ margin-left:var(--margin-5);}
    .row >.m-l-lg-6{ margin-left:var(--margin-6);}
    .row >.m-l-lg-7{ margin-left:var(--margin-7);}
    .row >.m-l-lg-8{ margin-left:var(--margin-8);}
    .row >.m-l-lg-9{ margin-left:var(--margin-9);}
    .row >.m-l-lg-10{ margin-left:var(--margin-10);}
    .row >.m-l-lg-11{ margin-left:var(--margin-11);}
    .row >.m-l-lg-12{ margin-left:var(--margin-12);}

    .row >.m-r-lg-0{ margin-right:var(--margin-0);}
    .row >.m-r-lg-1{ margin-right:var(--margin-1);}
    .row >.m-r-lg-2{ margin-right:var(--margin-2);}
    .row >.m-r-lg-3{ margin-right:var(--margin-3);}
    .row >.m-r-lg-4{ margin-right:var(--margin-4);}
    .row >.m-r-lg-5{ margin-right:var(--margin-5);}
    .row >.m-r-lg-6{ margin-right:var(--margin-6);}
    .row >.m-r-lg-7{ margin-right:var(--margin-7);}
    .row >.m-r-lg-8{ margin-right:var(--margin-8);}
    .row >.m-r-lg-9{ margin-right:var(--margin-9);}
    .row >.m-r-lg-10{ margin-right:var(--margin-10);}
    .row >.m-r-lg-11{ margin-right:var(--margin-11);}
    .row >.m-r-lg-12{ margin-right:var(--margin-12);}

    }
    
    @media (max-width: 1100px){
        .container > .row{
            width:800px;
            margin:0 calc(50% - 400px);
        }
    .row >.col-md-1{ width:var(--col-1);}
    .row >.col-md-2{ width:var(--col-2);}
    .row >.col-md-3{ width:var(--col-3);}
    .row >.col-md-4{ width:var(--col-4);}
    .row >.col-md-5{ width:var(--col-5);}
    .row >.col-md-6{ width:var(--col-6);}
    .row >.col-md-7{ width:var(--col-7);}
    .row >.col-md-8{ width:var(--col-8);}
    .row >.col-md-9{ width:var(--col-9);}
    .row >.col-md-10{ width:var(--col-10);}
    .row >.col-md-11{ width:var(--col-11);}
    .row >.col-md-12{ width:var(--col-12);}

    .row >.m-l-md-0{ margin-left:var(--margin-0);}
    .row >.m-l-md-1{ margin-left:var(--margin-1);}
    .row >.m-l-md-2{ margin-left:var(--margin-2);}
    .row >.m-l-md-3{ margin-left:var(--margin-3);}
    .row >.m-l-md-4{ margin-left:var(--margin-4);}
    .row >.m-l-md-5{ margin-left:var(--margin-5);}
    .row >.m-l-md-6{ margin-left:var(--margin-6);}
    .row >.m-l-md-7{ margin-left:var(--margin-7);}
    .row >.m-l-md-8{ margin-left:var(--margin-8);}
    .row >.m-l-md-9{ margin-left:var(--margin-9);}
    .row >.m-l-md-10{ margin-left:var(--margin-10);}
    .row >.m-l-md-11{ margin-left:var(--margin-11);}
    .row >.m-l-md-12{ margin-left:var(--margin-12);}

    .row >.m-r-md-0{ margin-right:var(--margin-0);}
    .row >.m-r-md-1{ margin-right:var(--margin-1);}
    .row >.m-r-md-2{ margin-right:var(--margin-2);}
    .row >.m-r-md-3{ margin-right:var(--margin-3);}
    .row >.m-r-md-4{ margin-right:var(--margin-4);}
    .row >.m-r-md-5{ margin-right:var(--margin-5);}
    .row >.m-r-md-6{ margin-right:var(--margin-6);}
    .row >.m-r-md-7{ margin-right:var(--margin-7);}
    .row >.m-r-md-8{ margin-right:var(--margin-8);}
    .row >.m-r-md-9{ margin-right:var(--margin-9);}
    .row >.m-r-md-10{ margin-right:var(--margin-10);}
    .row >.m-r-md-11{ margin-right:var(--margin-11);}
    .row >.m-r-md-12{ margin-right:var(--margin-12);}

    }
    
    @media (max-width: 900px){
        .container > .row{
            width:600px;
            margin:0 calc(50% - 300px);
    
        }
    .row >.col-sm-1{ width:var(--col-1);}
    .row >.col-sm-2{ width:var(--col-2);}
    .row >.col-sm-3{ width:var(--col-3);}
    .row >.col-sm-4{ width:var(--col-4);}
    .row >.col-sm-5{ width:var(--col-5);}
    .row >.col-sm-6{ width:var(--col-6);}
    .row >.col-sm-7{ width:var(--col-7);}
    .row >.col-sm-8{ width:var(--col-8);}
    .row >.col-sm-9{ width:var(--col-9);}
    .row >.col-sm-10{ width:var(--col-10);}
    .row >.col-sm-11{ width:var(--col-11);}
    .row >.col-sm-12{ width:var(--col-12);}

    .row >.m-l-sm-0{ margin-left:var(--margin-0);}
    .row >.m-l-sm-1{ margin-left:var(--margin-1);}
    .row >.m-l-sm-2{ margin-left:var(--margin-2);}
    .row >.m-l-sm-3{ margin-left:var(--margin-3);}
    .row >.m-l-sm-4{ margin-left:var(--margin-4);}
    .row >.m-l-sm-5{ margin-left:var(--margin-5);}
    .row >.m-l-sm-6{ margin-left:var(--margin-6);}
    .row >.m-l-sm-7{ margin-left:var(--margin-7);}
    .row >.m-l-sm-8{ margin-left:var(--margin-8);}
    .row >.m-l-sm-9{ margin-left:var(--margin-9);}
    .row >.m-l-sm-10{ margin-left:var(--margin-10);}
    .row >.m-l-sm-11{ margin-left:var(--margin-11);}
    .row >.m-l-sm-12{ margin-left:var(--margin-12);}

    .row >.m-r-sm-0{ margin-right:var(--margin-0);}
    .row >.m-r-sm-1{ margin-right:var(--margin-1);}
    .row >.m-r-sm-2{ margin-right:var(--margin-2);}
    .row >.m-r-sm-3{ margin-right:var(--margin-3);}
    .row >.m-r-sm-4{ margin-right:var(--margin-4);}
    .row >.m-r-sm-5{ margin-right:var(--margin-5);}
    .row >.m-r-sm-6{ margin-right:var(--margin-6);}
    .row >.m-r-sm-7{ margin-right:var(--margin-7);}
    .row >.m-r-sm-8{ margin-right:var(--margin-8);}
    .row >.m-r-sm-9{ margin-right:var(--margin-9);}
    .row >.m-r-sm-10{ margin-right:var(--margin-10);}
    .row >.m-r-sm-11{ margin-right:var(--margin-11);}
    .row >.m-r-sm-12{ margin-right:var(--margin-12);}

    }
    
    @media (max-width: 700px){
        .container > .row{
            width:100%;
            margin:0;
        }
    .row >.col-xs-1{ width:var(--col-1);}
    .row >.col-xs-2{ width:var(--col-2);}
    .row >.col-xs-3{ width:var(--col-3);}
    .row >.col-xs-4{ width:var(--col-4);}
    .row >.col-xs-5{ width:var(--col-5);}
    .row >.col-xs-6{ width:var(--col-6);}
    .row >.col-xs-7{ width:var(--col-7);}
    .row >.col-xs-8{ width:var(--col-8);}
    .row >.col-xs-9{ width:var(--col-9);}
    .row >.col-xs-10{ width:var(--col-10);}
    .row >.col-xs-11{ width:var(--col-11);}
    .row >.col-xs-12{ width:var(--col-12);}

    .row >.m-l-xs-0{ margin-left:var(--margin-0);}
    .row >.m-l-xs-1{ margin-left:var(--margin-1);}
    .row >.m-l-xs-2{ margin-left:var(--margin-2);}
    .row >.m-l-xs-3{ margin-left:var(--margin-3);}
    .row >.m-l-xs-4{ margin-left:var(--margin-4);}
    .row >.m-l-xs-5{ margin-left:var(--margin-5);}
    .row >.m-l-xs-6{ margin-left:var(--margin-6);}
    .row >.m-l-xs-7{ margin-left:var(--margin-7);}
    .row >.m-l-xs-8{ margin-left:var(--margin-8);}
    .row >.m-l-xs-9{ margin-left:var(--margin-9);}
    .row >.m-l-xs-10{ margin-left:var(--margin-10);}
    .row >.m-l-xs-11{ margin-left:var(--margin-11);}
    .row >.m-l-xs-12{ margin-left:var(--margin-12);}

    .row >.m-r-xs-0{ margin-right:var(--margin-0);}
    .row >.m-r-xs-1{ margin-right:var(--margin-1);}
    .row >.m-r-xs-2{ margin-right:var(--margin-2);}
    .row >.m-r-xs-3{ margin-right:var(--margin-3);}
    .row >.m-r-xs-4{ margin-right:var(--margin-4);}
    .row >.m-r-xs-5{ margin-right:var(--margin-5);}
    .row >.m-r-xs-6{ margin-right:var(--margin-6);}
    .row >.m-r-xs-7{ margin-right:var(--margin-7);}
    .row >.m-r-xs-8{ margin-right:var(--margin-8);}
    .row >.m-r-xs-9{ margin-right:var(--margin-9);}
    .row >.m-r-xs-10{ margin-right:var(--margin-10);}
    .row >.m-r-xs-11{ margin-right:var(--margin-11);}
    .row >.m-r-xs-12{ margin-right:var(--margin-12);}

    }